<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Update Form</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
   <link rel="stylesheet" href="../css/show.css">

</head>

<body>
   <!-- partial:index.partial.html -->
   <div class="container">
      <div class="text">
         Client Details
      </div>
      <br>
      <div class="first">
         <div>First Name : {{fname}}</div>
         <div>Last Name : {{lname}}</div> 
      </div>
      <br>
      <hr>
      <br>
      <div class="first">
         <div>Email : {{email}}</div>
         <div>Age : {{age}}</div> 
      </div>
      <br>
      <hr>
      <br>
      <div class="first">
         <div>Phone no. : {{phone}}</div>
         <div>Gender : {{gen}}</div> 
      </div>
      <br>
      <hr>
      <br>
      <div class="first">
         <div>Password : {{pass}}</div>
         <div class="extra-link"><a href="http://localhost:4000/home">Home</a></div>
      </div>
      <br>
      <!-- partial -->
</body>

</html> 